doctype html
html
    head
        title= pageTitle
        meta(name="description", content="Dynamic webview")
        link(id="favicon", rel="icon", href="https://glitch.com/edit/favicon-app.ico", type="image/x-icon")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    body
        script.
            (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));

        p Click the button below.
        p This may not work on PC. Be sure to have Location turned on in order for this to work.

        form(id="locationForm")
            button(id="locationButton" type="submit") Share Location
        
        p(id="close")
        input(type="hidden" name="userId" id="userId" value=userId)

        script. 


            window.extAsyncInit = function () {
                
                $('iframe[name="messenger_ref"]').attr("allow", "geolocation");

                if (navigator.geolocation) {
                        //- navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    $('#close').text("Geolocation is not supported by this browser.")
                }
                
                $('#locationForm').submit(function (event) {
                    event.preventDefault();
                    
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition, geoError);
                    } else {
                        $('#close').text("Geolocation is not supported by this browser.")
                    }
                    
                    function showPosition (position) {
                        console.log("i am here")
                        const data = {
                            userId: $('#userId').val(),
                            latitude: position.coords.latitude,
                            longitude: position.coords.longitude
                        };
                        $.post('/broadcast-to-chatfuel', data).done(function () {
                            $('#close').text("You may now close this window.");
                            MessengerExtensions.requestCloseBrowser(function () {
                                    console.log("Window will be closed");
                                }, function (error) {
                                    console.log("There is an error");
                                    console.log(error);
                                })
                        }) 
                    };

                    function geoError(event) {
                        console.log(`${event.code}. ${event.message}`);
                    }
                })
            }
             

